<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>


<!-- REVISAR COMO PASARLE LA CANTIDAD DE PRODUCTOS COMPRADOS -->

<% if (cart.length !== 0){ %>
    <h1>COMPRA EXITOSA</h1>
    <% cart.forEach(producto=>{ %>
        <div class="">
            <div>
                <h3><%= producto.titulo %></h3>
                <h3 id="priceCart<%= producto.id %>">$ <%= producto.precio %></h3>    
            </div>
        </div>
    <% }) %>
    <h1 id="totalCompra"></h1>
    <% }else{ %>
        <h1>No se ha realizado la compra ya que el carrito esta vacío</h1>
    <% } %>

<a href="/">VOLVER AL INICIO</a>

<%- include('../../views/partials/footer.ejs')%>