<%- include('../../views/partials/head.ejs')%>
<%- include('../../views/partials/header.ejs')%>

<% if (productos.length !== 0){ %>

    <% if (typeof(productBusqueda) !== 'undefined'){ %>
        <h3>Se encontraron <span style="font-weight: 700"><%= productos.length %></span> resultado/os de <span style="font-weight: 700"><%= productBusqueda %></span></h3>
        
    <% } %>
    
   
   
   
   
   
   
   
   
    <div class="titulo_nav">
        <h4><a href="">Menu</></a><i class="bi bi-chevron-right"></i><strong>Filtrar Productos</strong> </h4>
    </div>

    <div class="contenedor">
       <section class="contenedor_catalogo">
            <nav class="menu">
                <ul>                 
                    <li class="opcion">Categorias <i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="categoria-mujer"> Mujer</li>
                            <li class="seleccion"><input type="checkbox" id="categoria-hombre"> Hombre</li>
                            <li class="seleccion"><input type="checkbox" id="categoria-kids"> Niños</li>
                        </ul>
                    </li>
             
                    <li class="opcion">Marcas<i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="marca-adidas"> Adidas</li>
                            <li class="seleccion"><input type="checkbox" id="marca-nike"> Nike</li>
                            <li class="seleccion"><input type="checkbox" id="marca-generica"> Generica</li>
                        </ul>
                    </li>   
    
                    <li class="opcion">Precio <i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="precio-0-20000"> $0-$20000</li>
                            <li class="seleccion"><input type="checkbox" id="precio-20000-30000"> $20000-$30000</li>
                            <li class="seleccion"><input type="checkbox" id="precio-30000-mas"> más de $30000</li>
                        </ul>
                    </li> 
    
                    <li class="opcion">Talle<i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="talle-m"> M</li>
                            <li class="seleccion"><input type="checkbox" id="talle-l"> L</li>
                            <li class="seleccion"><input type="checkbox" id="talle-xl"> XL</li>
                        </ul>
                    </li>
                
                </ul>
                
            </nav>

            <div class="contenedor_facu">
                <div class="filtros_busqueda">
                    <div class="filtros_aplicados">
                        <p>Mostrando 9 resultados de un total de "<%= productos.length %>"</p>
                       
                    </div>
        
                    <div class="ordenar_por">
                        <label for="">Ordenar por </label>
                        <select class="select_ordenarpor" id="">
                            <option value="">Popular</option>   
                            <option value="">A - Z</option>
                            <option value="">Z - A</option>
                            <option value="">Menor Precio</option>
                            <option value="">Mayor Precio</option>
                        </select>  
                    </div>
                </div>
                <div class="contenedor_productos" id="productosContainer">

                </div>  

              
            </div>
              
        </section>

    </div> 
  <div id="paginacion">
                </div>

<% }else{ %>
        <h1>NO HAY PRODUCTOS QUE COINCIDAN CON LA BUSQUEDA</h1>
        <!-- muestro productos destacados por si no coincide -->
        <%- include('../../views/partials/featured.ejs')%>
<% } %>

<script>
    window.productos = <%- JSON.stringify(productos) %>
</script>

<script src="/js/catalog.js" type="module"></script>

<%- include('../../views/partials/offer.ejs')%>

<%- include('../../views/partials/suscribe.ejs')%>

<%- include('../../views/partials/footer.ejs')%>