<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>

<!-- <img src="../../images/bannerHombres.jpg" alt="imagen de hombres"> -->

<% if (productos.length !== 0){ %>

    <div class="contenedor-g">
        <div class="banner-g">
            <img src="../../images/bannerHombres.jpg" alt="imagen de hombre"> 
            <img src="../../images/bannerHombres.jpg" alt="imagen de hombre"> 
            <img src="../../images/bannerHombres.jpg" alt="imagen de hombre"> 
        </div>
        <div class="titulo_nav-g">
            <h4><a href="/products/catalog">Menu</></a><i class="bi bi-chevron-right"></i>Filtrar Productos<i class="bi bi-chevron-right"></i><strong>Hombres</strong></h4>
        </div>
       <section class="contenedor_catalogo-g">
            <nav class="menu-g">
                <ul>                 
             
                    <li class="opcion">Marcas<i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="marca-adidas"> Adidas</li>
                            <li class="seleccion"><input type="checkbox" id="marca-nike"> Nike</li>
                            <li class="seleccion"><input type="checkbox" id="marca-generica"> Generica</li>
                        </ul>
                    </li>   
    
                    <li class="opcion">Precio <i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="precio-0-20000"> $0-$20000</li>
                            <li class="seleccion"><input type="checkbox" id="precio-20000-30000"> $20000-$30000</li>
                            <li class="seleccion"><input type="checkbox" id="precio-30000-mas"> más de $30000</li>
                        </ul>
                    </li> 
    
                    <li class="opcion">Talle<i class="bi bi-chevron-right"></i>
                        <ul class="submenu">
                            <li class="seleccion"><input type="checkbox" id="talle-m"> M</li>
                            <li class="seleccion"><input type="checkbox" id="talle-l"> L</li>
                            <li class="seleccion"><input type="checkbox" id="talle-xl"> XL</li>
                        </ul>
                    </li>
                
                </ul>
                
            </nav>

            <div class="contenedor_facu">
                <div class="filtros_busqueda">
                    <div class="filtros_aplicados">
                        <p>Mostrando resultados de su búsqueda</p>
                       
                    </div>
        
                    <!-- <div class="ordenar_por">
                        <label for="">Ordenar por </label>
                        <select class="select_ordenarpor" id="">
                            <option value="">Popular</option>   
                            <option value="">A - Z</option>
                            <option value="">Z - A</option>
                            <option value="">Menor Precio</option>
                            <option value="">Mayor Precio</option>
                        </select>  
                    </div> -->
                </div>
                <div class="contenedor_productos" id="productosContainer">

                </div>  

              
            </div>
              
        </section>

    </div> 
  <div id="paginacion">
                </div>



 <!--    <ul>
        <li><input type="checkbox" id="marca-adidas"> Adidas</li>
        <li><input type="checkbox" id="marca-nike"> Nike</li>
        <li><input type="checkbox" id="marca-generica"> Generica</li>
    </ul>
    <h2>Precio</h2>
    <ul>
        <li><input type="checkbox" id="precio-0-20000"> $0-$20000</li>
        <li><input type="checkbox" id="precio-20000-30000"> $20000-$30000</li>
        <li><input type="checkbox" id="precio-30000-mas"> más de $30000</li>
    </ul>
    <h2>Talle</h2>
    <ul>
        <li><input type="checkbox" id="talle-m"> M</li>
        <li><input type="checkbox" id="talle-l"> L</li>
        <li><input type="checkbox" id="talle-xl"> XL</li>
    </ul>

    <section class="products">
        <div class="divProducts">        
            <% productos.forEach(producto=>{ %>
                <div class="cardProduct">
                    <a href="/products/<%= producto._id %>"><img src="<%= producto.url_imagen[0] %>" alt="imagen del producto"></a>
                    <div class="cardFooter">
                        <div>
                            <h3><%= producto.titulo %></h3>
                            <h3 class="price">$ <%= producto.precio %></h3>    
                        </div>
                        <form class="addToCartForm" action="/products/agregar-carro/<%= producto._id %>" method="POST">
                            <button type="submit" class="bi bi-cart-plus"></button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </section> -->

<% }else{ %>
        <h1>NO HAY PRODUCTOS DE HOMBRES EN ESTE MOMENTO</h1>
        <!-- muestro productos destacados por si no coincide -->
        <%- include('../../views/partials/featured.ejs')%>
<% } %>

<script>
    window.productos = <%- JSON.stringify(productos) %>
</script>

<script src="/js/catalog.js" type="module"></script>

<%- include('../../views/partials/offer.ejs')%>

<%- include('../../views/partials/suscribe.ejs')%>

<%- include('../../views/partials/footer.ejs')%>