<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>

<%- include('../../views/partials/messages.ejs')%>

<section class="hero">
    <div class="slider">
        <div class="slide">
            <h1>No te conformes con menos. Elige calidad y estilo en nuestra tienda virtual</h1>
          <img src="../../images/fondoslider1.jpg" alt="Imagen 1" />
        </div>
        <div class="slide">
            <h1>¡Descubre una experiencia de compra única en nuestra tienda en línea!</h1>
          <img  src="../../images/fondoslider6.jpg" alt="Imagen 2" />
        </div>
        <div class="slide">
           <h1>Los productos más exclusivos y de alta calidad en nuestra tienda virtual</h1>
            <img src="../../images/fondoslider3.jpg" alt="Imagen 3" />
        </div>
        <div class="slide">
            
            <h1>No busques más. Tenemos todo lo que necesitas en un solo lugar. ¡Visita nuestra tienda en línea ahora!</h1>
            <img  src="../../images/fondoslider4.jpg" alt="Imagen 2" />
        </div>
          <div class="slide">
              <h1>mejora tu estilo con nuestras colecciones de verano</h1>
            <img  src="../../images/fondoslider5.jpg" alt="Imagen 2" />
        </div>
        <div class="slide-guide"></div>
        <button class="prev-btn"><i class="bi bi-chevron-compact-left"></i></button>
        <button class="next-btn"><i class="bi bi-chevron-compact-right"></i></button>
        <button class="comprar-btn"><a href="/catalog">Compra ya </a> <i class="bi bi-arrow-right"></i> </button>
    </div>
</section>

<section class="brands" id="brands">
    <div class="divBrands">
        <h2>Marcas</h2>
        <div class="logotipos">
            <a href="https://www.chanel.com" target="_blank"><img src="./images/chanelLogo.png" alt=""></a>
            <a href="https://www.calvinklein.ar" target="_blank"><img src="./images/CKLogo.png" alt=""></a>
            <a href="https://www.guess.com" target="_blank"><img src="./images/guessLogo.png" alt=""></a>
            <a href="https://www.gucci.com" target="_blank"><img src="./images/gucciLogo.png" alt=""></a>
            <a href="https://www.dolcegabbana.com" target="_blank"><img src="./images/DGLogo.png" alt=""></a>
            <a href="https://www.adidas.com.ar" target="_blank"><img src="./images/adidasLogo.png" alt=""></a>
            <a href="https://www.levi.com.ar" target="_blank"><img src="./images/levisLogo.png" alt=""></a>
            <a href="https://www.versace.com" target="_blank"><img src="./images/versaceLogo.png" alt=""></a>
        </div>
    </div>
</section>

<section class="experience">
    <div class="titleExp">
        <h2>Brindamos las mejores experiencias</h2>
        <div>
            <h3>Nos aseguramos que tengan la mejor experiencia de compra</h3>    
        </div>
    </div>
    <div class="divExp">
        <div class="infoExp">
            <i class="bi bi-coin iconExp"></i>
            <h3>Productos Originales</h3>
            <p>Ofrecemos garantía de devolución de dinero si el producto no es original</p>
        </div>
        <div class="infoExp">
            <i class="bi bi-emoji-laughing iconExp"></i>
            <h3>Satisfacción Garantizada</h3>
            <p>Cambiá el producto que has comprado si no te queda bien</p>
        </div>
        <div class="infoExp">
            <i class="bi bi-minecart-loaded iconExp"></i>
            <h3>Nueva Ropa Todos Los Días</h3>
            <p>Actualizamos nuestras colecciones casi todos los días</p>
        </div>
        <div class="infoExp">
            <i class="bi bi-truck iconExp"></i>
            <h3>Envío rápido y gratuito</h3>
            <p>Ofrecemos envío rápido y gratuito para nuestros fieles clientes</p>
        </div>
    </div>            
</section>

<section class="picks">
    <h2>Selecciones</h2>
    <div class="divPicks">
        <div class="cardPicks">
            <a href="/products/catalog/wanted">
                <button class="btnShop">Best Seller <i class="bi bi-arrow-right-short flechaDer"></i></button>
            </a>
        </div>
        <div class="cardPicks">
            <a href="products/catalog/hombres">
                <button class="btnShop">Hombres <i class="bi bi-arrow-right-short flechaDer"></i></button>
            </a>
        </div>
        <div class="cardPicks">
            <a href="products/catalog/mujeres">
                <button class="btnShop">Mujeres <i class="bi bi-arrow-right-short flechaDer"></i></button>
            </a>
        </div>
        <div class="cardPicks">
            <a href="products/catalog/ninos">
                <button class="btnShop">Niños <i class="bi bi-arrow-right-short flechaDer"></i></button>
            </a>    
        </div>
    </div>            
</section>


<%- include('../../views/partials/featured.ejs')%>

<%- include('../../views/partials/offer.ejs')%>

<%- include('../../views/partials/suscribe.ejs')%>

<%- include('../../views/partials/footer.ejs')%>
