<%- include('../../views/partials/head.ejs')%>

<%- include('../../views/partials/header.ejs')%>

<img src="../../images/bannerNinos.jpg" alt="imagen de niña">

<% if (productos.length !== 0){ %>

    <h2>Marca</h2>
    <ul>
        <li><input type="checkbox" id="marca-adidas"> Adidas</li>
        <li><input type="checkbox" id="marca-nike"> Nike</li>
        <li><input type="checkbox" id="marca-generica"> Generica</li>
    </ul>
    <h2>Precio</h2>
    <ul>
        <li><input type="checkbox" id="precio-0-20000"> $0-$20000</li>
        <li><input type="checkbox" id="precio-20000-30000"> $20000-$30000</li>
        <li><input type="checkbox" id="precio-30000-mas"> más de $30000</li>
    </ul>
    <h2>Talle</h2>
    <ul>
        <li><input type="checkbox" id="talle-m"> M</li>
        <li><input type="checkbox" id="talle-l"> L</li>
        <li><input type="checkbox" id="talle-xl"> XL</li>
    </ul>

    <section class="products">
        <div class="divProducts">        
            <% productos.forEach(producto=>{ %>
                <div class="cardProduct">
                    <a href="/products/<%= producto._id %>"><img src="<%= producto.url_imagen[0] %>" alt="imagen del producto"></a>
                    <div class="cardFooter">
                        <div>
                            <h3><%= producto.titulo %></h3>
                            <h3 class="price">$ <%= producto.precio %></h3>    
                        </div>
                        <form class="addToCartForm" action="/products/agregar-carro/<%= producto._id %>" method="POST">
                            <button type="submit" class="bi bi-cart-plus"></button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>

<% }else{ %>
        <h1>NO HAY PRODUCTOS DE NIÑOS EN ESTE MOMENTO</h1>
        <!-- muestro productos destacados por si no coincide -->
        <%- include('../../views/partials/featured.ejs')%>
<% } %>

<script>
    window.productos = <%- JSON.stringify(productos) %>
</script>

<script src="/js/catalog.js" type="module"></script>

<%- include('../../views/partials/offer.ejs')%>

<%- include('../../views/partials/suscribe.ejs')%>

<%- include('../../views/partials/footer.ejs')%>