<%- include('../../views/partials/head.ejs')%>



<%- include('../../views/partials/header.ejs')%>

<h1><%= producto.titulo %></h1>
<h2><%= producto.precio %></h2>
<% producto.url_imagen.forEach(producto=>{ %>
    <img src="<%= producto %>" alt="" style="width: 300px">
<% }) %>
<form class="addToCartForm" action="/products/agregar-carro/<%= producto.id %>" method="POST">
    <button type="submit" class="bi bi-cart-plus"></button>
</form>
<p><%= producto.descripcion %></p>


<%- include('../../views/partials/related.ejs')%>

<%- include('../../views/partials/footer.ejs')%>