<%- include('../partials/head') -%>
<%- include('../partials/header') -%>


<section class="newpassword">

<div class="divLogin">
    <h3 class="">Nueva contrase単a</h3>
    <%- include('../partials/messages') -%>
    <form action="/users/reset/<%=token%>" method="POST">

        <div class="form-group px-0">
            <input type="password" name="password" class="form-control" placeholder="Ingrese nueva contrase単a">
        </div>

        <div class="form-group px-0">
            <input type="password" name="confirmpassword" class="form-control" placeholder="Confirme contrase単a">
        </div>

        <button type="submit" class="btn btn-danger btn-block">Cambiar contrase単a</button>
    </form>
</div>

</section>


<%- include('../partials/footer') -%>